#container {
	width: 1330px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 11px;
}

#header {
	height: 100px;
	background-color: #ccc;
	border-radius: 5px;
}
#menu {
	height: 60px;
	background-color: #666;
}
#menu ul {
	margin: 0;
	padding: 0;
}
#menu li {
	float: left;
	display: block;
	height: 60px;	
	width: 200px;
	line-height: 55px;
	list-style-type: none;
	font-family: tahoma;
	text-align: center;
	font-size: 20px;
}
#menu li a {
	text-decoration:none;
	color: #fff;

}
#image { 
   position: relative; 
   width: 100%; 
}




/*#sidebar {
	width: 238px;
	height: 400px;
	background-color:#0c0;
	float: left;

}*/
#mainbody {
	width:1330px;
	height:400px;
	background-color: #f3d9f8;
    float:right; 

}
#mmainbody sub{
	width: 50%;
	height: 40px;
	background-color: #9384b4;
	float: both;
}
/*#sub1{
	width: 50%;
	height: 400px;
	float: both;

}*/
#footbar {
	height:100px; 
	margin-bottom:21px;
	background-color: #ccc;
	clear: both;
}